.note-display {
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.note {
    background-color: white;
    padding: 10px;
    position: relative; 
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.note p {
    margin: 0;
    font-size: 16px;
}

.note-date {
    display: block;
    margin-top: 20px; 
    text-align: right; 
    font-size: 12px;
    color: #666;
}

.empty-notes {
    text-align: center;
    padding: 20px;
    color: #888;
}